html {
    scroll-behavior:smooth;
}

body {
    background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 94px 50px; 
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 35px; 
  list-style: circle; 
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__links-list-item:nth-child(2) .header__link,
.header__links-list-item:nth-child(3) .header__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
}

.header__logo-image {
  height: 100px;
  width: auto;
  display: block;
}

.header__address {
  justify-self: end;
  max-width: 236px; 
  font-style: normal; 
  font-size: 18px;
  text-align: left;
  line-height: 1.4;
}

.header__address a {
  text-decoration: underline;
  color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  width: 100%;
  height: 757px; 
  padding: 0 50px;
  color: white;
  overflow: hidden;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.59);
  z-index: 1;
}

.cover__title {
  position: absolute;
  top: 165px;
  left: 50px;
  width: 1000px;
  height: 385px;
  margin: 0;
  padding: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 25px;
}

.cover__title-word {
  font-size: 96px;
  font-weight: bold;
  letter-spacing: 0.34em;
  white-space: nowrap;
  display: block;
}

.cover__title-word:nth-child(1) { 
  grid-area: 1 / 1; 
}

.cover__title-word:nth-child(2) { 
  grid-area: 2 / 2; 
}

.cover__title-word:nth-child(3) { 
  grid-area: 3 / 3; 
  margin-left: -110px;
}

.cover__description {
  position: absolute;
  top: 656px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 51px;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  margin-top: 17px;
}

.bet-button {
  appearance: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 28px;
  border: 1px solid white;
  padding: 8px 25px 11px;
  width: 256px;
  transition: background 0.3s, color 0.3s;
  box-sizing: border-box;
}

.bet-button:hover {
  background: white;
  color: black;
}

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
  text-align: left;
  margin-bottom: 30px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  width: 1052px;
  margin: 0 0 24px;
  justify-content: flex-start; 
}

.lots__card-list-item {
  width: 334px;
  min-height: 550px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none; 
}

.card {
  position: relative;
  height: 596px;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.card_type_film::before {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book::before {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture::before {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1;
  line-height: 1.3;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  opacity: 0.9;
  margin: 0;
  z-index: 2;
  line-height: 1.3;
}

.lots__look-more-link {
  font-size: 20px;
  color: #000;
  text-decoration: underline;
  text-align: left;
  margin-left: 40px;
  display: inline-block;
}


.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 125px 24px 0;
  align-items: start; 
}


.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.about__logo-image {
  max-width: 60%;
  display: block;
}

.about__column_logo {
  margin-top: 35px;
}
.about__column_content {
  margin-top:133px;
  width: 693px;
  height: 449px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 80px 0; 
  text-align: left;
}

.about__text p {
  font-size: 20.5px;
  line-height: 1.3;
  color: #000;
  margin: 0 0 16px 0;
}

.about__text p:last-child {
  margin-bottom: 0; 
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 60px;
  padding: 0 80px 60px;
  background-color: #fff;
  margin-top: 180px;
  height: 180px;
}

.address {
  font-style: normal;
  font-size: 18px;
  color: #000;
  line-height: 1.4;
  text-align: left;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 5px;
}

.footer__menu-link {
  text-decoration: underline;
  color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; 
  gap: 48px;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: auto;
  display: block;
}